
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.content {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 165px;
  }

  #score, #start {
    padding-left: auto;
    padding-right: auto;
    margin-left: auto;
    margin-right: auto;
    
  }

  .container{
    width: 60%;
    height: 100%;
    margin: 0 auto;
  }

  .campo{
    margin: 0;
    padding-bottom: 1em;
    width: 100%;
    border: 1px solid #ccc;
    padding: .7em;
    width: 100%;
  }


  